{% extends "../base/base.html" %}
{% block title %}
Hount - Tattoo Artist
{% endblock %}

{% block template %}

{% load static %}
<!-- Sıte Content -->
<div id="main" class="content">

        <!-- Page Settings -->
    <div class="page-settings" data-layout="dark" data-header-style="light" data-menu-layout="light"></div>
    <!--/ Page settings -->
    
    <!-- Portfolio Showcase -->
    <div class="fullscreen portfolio-showcase list-carousel">

        <!-- Titles (Don't Touch) -->
        <div class="list-titles"></div>
        <!-- Titles (Don't Touch) -->

        <!-- List Projects -->
        <div class="list-images">
            <div class="swiper-wrapper">

                <!-- Project -->
                <div class="list-image swiper-slide">

                    <!-- Project URL -->
                    <a href="project-1.html"></a>
                    <!--/ Project URL -->

                    <video autoplay muted loop playsinline>
                        <source src="{% static 'videos/intro_cut.mp4'%}">
                    </video>
                    <!--/ Project Image -->

                </div>
                <!--/ Project -->

                <!-- Project -->
                <div class="list-image swiper-slide">

                    <!-- Project URL -->
                    <a href="project-4.html"></a>
                    <!--/ Project URL -->

                    <!-- Project image -->
                    <div class="list-image-wrapper">
                        <video autoplay muted loop playsinline>
                            <source src="{% static 'videos/painting.mp4'%}">
                        </video>
                    </div>
                    <!--/ Project Image -->

                </div>
                <!--/ Project -->

            

                <!-- Project -->
                <div class="list-image swiper-slide">

                    <!-- Project URL -->
                    <a href="project-6.html"></a>
                    <!--/ Project URL -->

                    <!-- Project image -->
                    <div class="list-image-wrapper">

                        <video autoplay muted loop playsinline>
                            <source src="{% static 'videos/tattoo1.mp4'%}">
                        </video>

                    </div>
                    <!--/ Project Image -->

                </div>
                <!--/ Project -->
                 <!-- Project -->
                 <div class="list-image swiper-slide">

                    <!-- Project URL -->
                    <a href="project-6.html"></a>
                    <!--/ Project URL -->

                    <!-- Project image -->
                    <div class="list-image-wrapper">

                        <video autoplay muted loop playsinline>
                            <source src="{% static 'videos/logo.mp4'%}">
                        </video>

                    </div>
                    <!--/ Project Image -->

                </div>
                <!--/ Project -->

            </div>
        </div>
        <!--/ List Projects -->

        <!-- Page Elements -->
        <div class="list-titles-fraction">
            <span class="lt-current"></span>
            <span class="lt-total"></span>
        </div>
        <div class="list-carousel-pagination">
            <div class="lc-next"><i class="icon-right-open-big"></i></div>
            <div class="lc-prev"><i class="icon-left-open-big"></i></div>
        </div>
        <!--/ Page Elements -->

    </div>
    <!--/ Portfolio Showcase -->

</div>
<!--/ Site Content -->

{% endblock %}