{% extends "../base/base.html" %}
{% block title %}
Hount - Tattoo Artist
{% endblock %}

{% block template %}

{% load static %}
<!-- Sıte Content -->
<div id="main" class="content">

        <!-- Page Settings -->
    <div class="page-settings" data-layout="dark" data-header-style="light" data-menu-layout="light"></div>
    <!--/ Page settings -->
    
    <!-- Portfolio Showcase -->
    <div class="fullscreen portfolio-showcase list-carousel">

        <!-- Titles (Don't Touch) -->
        <div class="list-titles"></div>
        <!-- Titles (Don't Touch) -->

        <!-- List Projects -->
        <div class="list-images">
            <div class="swiper-wrapper">

                <!-- Project -->
                <div class="list-image swiper-slide">

                    <!-- Project URL -->
                    <a href="project-1.html"></a>
                    <!--/ Project URL -->

                    <!-- Project Title -->
                    <div class="list-p-title">Deals App</div>
                    <!--/ Project Title -->

                    <!-- Project Metas -->
                    <div class="list-titles-meta">
                        <span>2014</span>
                        <span>STOCO</span>
                        <span>UX/UI Design</span>
                    </div>
                    <!--/ Project Metas -->


                    <video autoplay muted loop playsinline>
                        <source src="{% static 'intro.mp4'%}">
                    </video>
                    <!--/ Project Image -->

                </div>
                <!--/ Project -->

                <!-- Project -->
                <div class="list-image swiper-slide">

                    <!-- Project URL -->
                    <a href="project-4.html"></a>
                    <!--/ Project URL -->

                    <!-- Project Title -->
                    <div class="list-p-title">Sand of Time</div>
                    <!--/ Project Title -->

                    <!-- Project Metas -->
                    <div class="list-titles-meta">
                        <span>2018</span>
                        <span>CHISER</span>
                        <span>VIDEO/ANIMATION</span>
                    </div>
                    <!--/ Project Metas -->

                    <!-- Project image -->
                    <div class="list-image-wrapper">
                        <video autoplay muted loop playsinline>
                            <source src="http://agcotomotiv.com.tr/short.mp4">
                        </video>
                    </div>
                    <!--/ Project Image -->

                </div>
                <!--/ Project -->

                <!-- Project -->
                <div class="list-image swiper-slide">

                    <!-- Project URL -->
                    <a href="project-8.html"></a>
                    <!--/ Project URL -->

                    <!-- Project Title -->
                    <div class="list-p-title">Ezra Brooks</div>
                    <!--/ Project Title -->

                    <!-- Project Metas -->
                    <div class="list-titles-meta">
                        <span>2020</span>
                        <span>HENNESSY</span>
                        <span>PHOTOGRAPHY</span>
                    </div>
                    <!--/ Project Metas -->

                    <!-- Project image -->
                    <div class="list-image-wrapper">
                        <img src="{% static 'images/projects/ezra-brooks/hor_cov.jpg' %}" alt="Site Logo" class="List Proejct Image">

                    </div>
                    <!--/ Project Image -->

                </div>
                <!--/ Project -->

                <!-- Project -->
                <div class="list-image swiper-slide">

                    <!-- Project URL -->
                    <a href="project-6.html"></a>
                    <!--/ Project URL -->

                    <!-- Project Title -->
                    <div class="list-p-title">Meskalina Studio</div>
                    <!--/ Project Title -->

                    <!-- Project Metas -->
                    <div class="list-titles-meta">
                        <span>2012</span>
                        <span>UNITI</span>
                        <span>BRAND IDENTITY</span>
                    </div>
                    <!--/ Project Metas -->

                    <!-- Project image -->
                    <div class="list-image-wrapper">
                        <img src="../light/images/projects/meskaline-studio/lc_cov.jpg" alt="List Proejct Image">
                    </div>
                    <!--/ Project Image -->

                </div>
                <!--/ Project -->

                <!-- Project -->
                <div class="list-image swiper-slide">

                    <!-- Project URL -->
                    <a href="project-2.html"></a>
                    <!--/ Project URL -->

                    <!-- Project Title -->
                    <div class="list-p-title">Havet</div>
                    <!--/ Project Title -->

                    <!-- Project Metas -->
                    <div class="list-titles-meta">
                        <span>2019</span>
                        <span>JEWEAR</span>
                        <span>PRODUCTION</span>
                    </div>
                    <!--/ Project Metas -->

                    <!-- Project image -->
                    <div class="list-image-wrapper">
                        <img src="../light/images/projects/havet/lc_cov.jpg" alt="List Proejct Image">
                    </div>
                    <!--/ Project Image -->

                </div>
                <!--/ Project -->

                <!-- Project -->
                <div class="list-image swiper-slide">

                    <!-- Project URL -->
                    <a href="project-7.html"></a>
                    <!--/ Project URL -->

                    <!-- Project Title -->
                    <div class="list-p-title">Codicis</div>
                    <!--/ Project Title -->

                    <!-- Project Metas -->
                    <div class="list-titles-meta">
                        <span>2016</span>
                        <span>NEWEAT</span>
                        <span>PHOTOGRAPHy</span>
                    </div>
                    <!--/ Project Metas -->

                    <!-- Project image -->
                    <div class="list-image-wrapper">
                        <img src="../light/images/projects/codicis/lc_cov.jpg" alt="List Proejct Image">
                    </div>
                    <!--/ Project Image -->

                </div>
                <!--/ Project -->
                <!-- Project -->
                <div class="list-image swiper-slide">

                    <!-- Project URL -->
                    <a href="project-6.html"></a>
                    <!--/ Project URL -->

                    <!-- Project Title -->
                    <div class="list-p-title">Men's Cave</div>
                    <!--/ Project Title -->

                    <!-- Project Metas -->
                    <div class="list-titles-meta">
                        <span>2015</span>
                        <span>TNEXUS</span>
                        <span>PHOTOGRAPHY</span>
                    </div>
                    <!--/ Project Metas -->

                    <!-- Project image -->
                    <div class="list-image-wrapper">
                        <img src="../light/images/projects/mens-cave/bs_cov.jpg" alt="List Proejct Image">
                    </div>
                    <!--/ Project Image -->

                </div>
                <!--/ Project -->

                <!-- Project -->
                <div class="list-image swiper-slide">

                    <!-- Project URL -->
                    <a href="project-3.html"></a>
                    <!--/ Project URL -->

                    <!-- Project Title -->
                    <div class="list-p-title">Gabrielle Desmarais</div>
                    <!--/ Project Title -->

                    <!-- Project Metas -->
                    <div class="list-titles-meta">
                        <span>2017</span>
                        <span>ZESTE</span>
                        <span>ADVERTISING</span>
                    </div>
                    <!--/ Project Metas -->

                    <!-- Project image -->
                    <div class="list-image-wrapper">
                        <img src="../light/images/projects/gabriele-desmarais/lc_cov.jpg" alt="List Proejct Image">
                    </div>
                    <!--/ Project Image -->

                </div>
                <!--/ Project -->

            </div>
        </div>
        <!--/ List Projects -->

        <!-- Page Elements -->
        <div class="list-titles-fraction">
            <span class="lt-current"></span>
            <span class="lt-total"></span>
        </div>
        <div class="list-carousel-pagination">
            <div class="lc-next"><i class="icon-right-open-big"></i></div>
            <div class="lc-prev"><i class="icon-left-open-big"></i></div>
        </div>
        <!--/ Page Elements -->

    </div>
    <!--/ Portfolio Showcase -->

</div>
<!--/ Site Content -->

{% endblock %}