
{% extends "base/base.html" %}
{% block title %}
Hount - About Me
{% endblock %}

{% block template %}

{% load static %}
    <!-- Site Content -->
    <div id="main" class="content">

        <!-- Page Settings -->
        <div class="page-settings" data-layout="dark" data-header-style="light" data-menu-layout="light"></div>
        <!--/ Page Settings -->

        <!-- Single Project -->
        <div class="single-project">

            <!-- Project Header -->
            <div class="project-header light">

                <!-- Project Image -->
                <div class="project-image project-image-full">
                    <img src="{% static 'images/gallery/hount.png'%}" alt="Project Header Image">
                </div>
                <!--/ Project Image -->

                <div class="project-top">

                    <!-- Project Category -->
                    <div data-delay=".2" class="project-work has-animation skew-down">
                        
                    </div>
                    <!-- Project Category -->

                    <!-- Project Title -->
                    <div class="project-title has-animation skew-up">
                        Hount
                    </div>
                    <!-- Project Title -->

                </div>

            </div>
            <!--/ Project Header -->


            <!-- Project Content -->
            <div class="project-content">

                <!-- Section -->
                <div class="section">

                    <!-- Wrapper (Small) -->
                    <div class="wrapper-small">

                        <!-- Column -->
                        <div class="c-col-12">

                            <!-- Text wrapper -->
                            <div class="text-wrapper">

                                <div class="caption has-animation skew-up">About me</div>

                                <h3 class="has-animation lines-fade-up">Tattoos are more than just art; they’re a way to express who you are, what you’ve been through, and what you stand for. They’re the stories we wear on our skin, etched forever.</h3>
                                <p data-delay="0.2" class="big-p has-animation lines-fade-up">
                                    I go by Hount. My journey into the game started in Athens at 15, tagging walls with graffiti. 
                                    By 20, I switched gears and jumped into the world of tattoos, captivated by the idea of creating something permanent 
                                    on someone else’s body. That trust, that bond, still keeps me going. Over the years, I’ve put in the work—mastering the craft, 
                                    fusing blackwork and abstract with semi-realism. 
                         
                            </div>
                            <!--/ Text wrapper -->

                        </div>
                        <!--/ Column -->

                    </div>
                    <!--/ Wrapper (Small) -->

                </div>
                <!--/ Section -->

                <!-- Section -->
                <div class="section">

                    <!-- Wrapper -->
                    <div class="wrapper">

                        <!-- Column -->
                        <div class="c-col-12">

                            <!-- Image Wrapper -->
                            <div class="image-wrapper has-animation slide-top">
                                <img src="{% static 'images/gallery/hount-tatoo.jpeg'%}" alt="Project Header Image">
                            </div>
                            <!--/ Image Wrapper -->
                        </div>
                        <!--/ Column -->

                    </div>
                    <!-- Wrapper -->


                </div>
                <!--/ Section -->

                <!-- Section -->
                <div class="section">

                    <!-- Wrapper -->
                    <div class="wrapper-small">

                        <!-- Column -->
                        <div class="c-col-8">

                            <!-- Text Wrapper -->
                            <div class="text-wrapper">
                                <h3 class="thin has-animation lines-up">
                                    A tattoo isn’t just ink on skin; it’s a story, a statement, a way to own your confidence and put your soul on display. 
                                    Every piece I do is more than just art—it’s a part of you, a chapter of your life, forever inked into history.</p>
 </h3>

                            </div>
                            <!--/ Text Wrapper -->

                        </div>
                        <!--/ Column -->

                    </div>
                    <!--/ Wrapper -->

                </div>
                <!--/ Section -->



            </div>

        </div>
        <!--/ Single Project -->

        <!-- Footer -->
        <footer class="site-footer">

            <!-- Fullwidth Wrapper -->
            <div style="margin-bottom: 75px" class="wrapper-full">

                <div class="c-col-6 hide-mobile"></div>

                <!-- Column -->
                <div class="c-col-3 no-gap">
                    <div class="caption">Based in </div>
                    <h5>Nea Filadelfeia, Athens, Greece</h5>

                </div>
                <!--/ Column -->

                <!-- Column -->
                <div class="c-col-3 no-gap">
                    <div class="caption">FOLLOW</div>

                    <!-- Footer List -->
                    <ul class="footer-list">
                        <li><a href="https://www.instagram.com/hount.ttt/?hl=el" class="underline">Instagram</a></li>
                    </ul>
                    <!-- Footer List -->
                </div>
                <!--/ Column -->

            </div>
            <!-- Fullwidth Wrapper -->

            <!-- Wrapper -->
            <div style="margin-bottom: 0" class="wrapper">

                <!-- Column -->
                <div class="c-col-6">

                    <!-- Footer Menu -->
                    <ul class="footer-menu ">
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Purchase</a></li>
                    </ul>
                    <!--/ Footer Menu -->

                </div>
                <!-- Column -->

            </div>
            <!-- Wrapper -->


        </footer>
        <!--/ Footer -->

    </div>
{% endblock %}