
{% extends "base/base.html" %}
{% block title %}
Hount - About Me
{% endblock %}

{% block template %}

{% load static %}

<!-- Site Content -->
<div id="main" class="content">

    <!-- Page Settings -->
    <div class="page-settings" data-layout="dark" data-header-style="light" data-menu-layout="light"></div>
    <!--/ Page settings -->

    <!-- Page Content -->
    <div id="page-content" class="page-content">

        <!-- Section -->
        <div class="section">

            <!-- Wrapper -->
            <div class="wrapper-small">

                <!-- Column -->
                <div class="c-col-12">

                    <!-- Text Wrapper -->
                    <div class="text-wrapper">
                        <div class="caption has-animation skew-up">CONTACT US</div>
                        <h1 class="big-title has-animation skew-up">Stay <br>in touch.</h1>
                    </div>
                    <!-- Text Wrapper -->

                </div>
                <!-- Column -->

                <!-- Column -->
                <div class="c-col-6">

                    <!-- Text Wrapper -->
                    <div class="text-wrapper">
                        <p data-delay="0.5" class="big-p has-animation lines-fade-up">
                            Big picture this is a no-brainer we <br>need to crystallize a plan so turnaround <br>rate nor closer to the metal but organic growth, and on-brand but completeley fresh.

                        </p>
                    </div>
                    <!--/ Text Wrapper -->


                </div>
                <!--/ Column -->

                <!-- Column -->
                <div class="c-col-6">

                    <!-- Text Wrapper -->
                    <div class="text-wrapper">
                        <div data-delay="0.7" class="caption has-animation skew-up">E-MAIL</div>
                        <p data-delay="0.9" class="big-p has-animation skew-up"><a class="underline" href="#">hello@pethemes.com</a></p>
                    </div>
                    <!--/ Text Wrapper -->

                    <span class="pe-empty-space" style="height: 60px"></span>

                    <!-- Text Wrapper -->
                    <div class="text-wrapper">
                        <div data-delay="0.7" class="caption has-animation skew-up">ADDRESS</div>
                        <p data-delay="0.9" class="big-p has-animation skew-up">32 Avenue of the Americas
                            <br>New York, NY 10013
                        </p>

                    </div>
                    <!--/ Text Wrapper -->

                    <span class="pe-empty-space" style="height: 60px"></span>

                    <!-- Text Wrapper -->
                    <div class="text-wrapper">
                        <div class="caption has-animation skew-up">PHONE</div>
                        <p data-delay="0.2" class="big-p has-animation skew-up">+1 (125) 789 54 21</p>
                    </div>
                    <!--/ Text Wrapper -->

                </div>
                <!--/ Column -->


            </div>
            <!--/ Wrapper -->

            <!-- Wrapper -->
            <div class="wrapper">

                <!-- Column -->
                <div class="c-col-12">

                    <!-- Contact Form -->
                    <div class="c-form">

                        <form action="/" method="post">

                            <!-- Form Field -->
                            <div class="field-wrap">
                                <label>
                                    Name
                                </label>
                                <input placeholder="Who are you?" type="text" required autocomplete="off" />
                            </div>
                            <!--/ Form Field -->

                            <!-- Form Field -->
                            <div class="field-wrap">
                                <label>
                                    E-mail
                                </label>
                                <input placeholder="You'll not see any ads" type="email" required autocomplete="off" />
                            </div>
                            <!--/ Form Field -->

                            <!-- Form Field -->
                            <div class="field-wrap">
                                <label>
                                    Phone
                                </label>
                                <input placeholder="Promise we'll not disturb" type="email" required autocomplete="off" />
                            </div>
                            <!--/ Form Field-->

                            <!-- Form Field -->
                            <div class="field-wrap">
                                <label>
                                    Subject
                                </label>
                                <input placeholder="This can be just love." type="email" required autocomplete="off" />
                            </div>
                            <!--/ Form Field -->

                            <!-- Form Field (Textarea)-->
                            <div class="message-wrap">
                                <label>
                                    Your message
                                </label>
                                <textarea rows="8" placeholder="Looking forward for your precious words.."></textarea>
                            </div>
                            <!--/ Form Field (Textarea)-->

                            <!-- Checkbox -->
                            <div class="privacy-wrap">
                                <input type="checkbox" />
                                <span>Accept Privacy</span>
                            </div>
                            <!--/ Checkbox -->

                            <!-- Button -->
                            <div class="send-wrap">
                                <button type="submit" class="button button-block">Submit</button>
                            </div>
                            <!--/ Button -->

                        </form>
                    </div>
                    <!--/Contact Form -->


                </div>
                <!--/Column -->

            </div>
            <!--/Wrapper-->

        </div>
        <!--/Section -->

        <!--Section -->
        <div class="section">

            <!-- Wrapper -->
            <div class="wrapper-small">

                <!-- Column -->
                <div class="c-col-12 align-center">
                    <div class="caption has-animation skew-up">SEE SMOETHING MORE</div>
                    <h1 data-delay="0.2" class="big-title has-animation skew-up"><a href="about.html" class="underline">About Us</a></h1>
                </div>
                <!--/ Column -->

            </div>
            <!--/ Wrapper -->

        </div>
        <!--/ Section -->

    </div>
    <!-- Page Content -->

    <!-- Footer -->
    <footer class="site-footer">

        <!-- Wrapper -->
        <div style="margin-bottom: 0" class="wrapper">

            <!-- Column -->
            <div class="c-col-6">

                <!-- Footer Menu -->
                <ul class="footer-menu ">
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Purchase</a></li>
                </ul>
                <!--/ Footer Menu -->

            </div>
            <!-- Column -->

            <!-- Column -->
            <div class="c-col-6 align-right">
                <p class="copyright-text">Pe Themes - CYGNI®, inc 20 - 20©</p>
            </div>
            <!-- Column -->

        </div>
        <!-- Wrapper -->


    </footer>
    <!--/ Footer -->

</div>
<!--/ Site Content -->
{% endblock %}

