{% extends "base/base.html" %}
{% block title %}
Hount - My  work
{% endblock %}

{% block template %}

{% load static %}

<!-- Site Content -->
<div id="main" class="content">

    <!-- Page Settings -->
    <div class="page-settings" data-layout="dark" data-header-style="light" data-menu-layout="light"></div>
    <!-- Page Settings -->

    <!-- Page Content -->
    <div id="page-content" class="page-content">

        <!-- Section -->
        <div class="section">

            <!-- Wrapper (Small) -->
            <div class="wrapper-small">

                <!-- Column -->
                <div class="c-col-12">

                    <!-- Text Wrapper -->
                    <div class="text-wrapper has-animation skew-up">
                        <div class="caption"></div>
                        <h1 class="big-title">
                            <br>
                            <br>
                            Some of my 
                            <br>works.
                        </h1>

                    </div>
                    <!--/ Text Wrapper -->

                </div>
                <!--/ Column -->

            </div>
            <!--/ Wrapper (Small) -->

        </div>
        <!--/ Section -->

        <!-- Section -->
        <div class="section">

            <!-- Wrapper (Fullwidth) -->
            <div class="wrapper-full">

                <!-- Column -->
                <div class="c-col-12 no-gap">

                    <!-- Portfolio Grid -->
                    <div class="portfolio-grid">

                        <div class="pg-sizer"></div>
                        <!-- Project -->
                        <div data-scroll class="grid-project">

                            <!-- Project URL --><a href="project-4.html">

                                <!-- Project Image-->
                                <div class="grid-project-image">

                                    <video autoplay muted loop playsinline>

                                        <source src="{% static 'videos/tattoo1_comp.mp4'%}">
                                    </video>

                                </div>
                                <!--/ Project Image-->
                            </a>

                        </div>
                        <!--/ Project -->

                        <!-- Project -->
                        <div data-scroll class="grid-project">

                                <!-- Project URL --><a href="https://www.instagram.com/p/DDZ_uPZu2PA/?hl=el&img_index=1">

                                <!-- Project Image-->
                                <div class="grid-project-image">

                                    <img src="{% static 'images/gallery/1.jpeg'%}" alt="Grid Project Image">

                                </div>
                                <!--/ Project Image-->
                            </a>

                        </div>
                        <!--/ Project -->

                        <!-- Project -->
                        <div data-scroll class="grid-project">

                            <!-- Project URL --><a href="project-4.html">

                                <!-- Project Image-->
                                <div class="grid-project-image">

                                    <video autoplay muted loop playsinline>

                                        <source src="{% static 'videos/tattoo2_comp.mp4'%}">
                                    </video>

                                </div>
                                <!--/ Project Image-->
                            </a>

                        </div>
                        <!--/ Project -->


                        <!-- Project -->
                        <div data-scroll class="grid-project">

                                <!--/ Project Meta-->

                                <!-- Project Image-->
                                <div class="grid-project-image">

                                    <img src="{% static 'images/gallery/2.jpeg'%}" alt="Grid Project Image">


                                </div>
                                <!--/ Project Image-->
                            </a>

                        </div>
                        <!--/ Project -->

                        <!-- Project -->
                        <div data-scroll class="grid-project">

                            <!-- Project URL --><a href="project-4.html">

                                <!-- Project Image-->
                                <div class="grid-project-image">

                                    <video autoplay muted loop playsinline>

                                        <source src="{% static 'videos/tattoo3_comp.mp4'%}">
                                    </video>

                                </div>
                                <!--/ Project Image-->
                            </a>

                        </div>
                        <!--/ Project -->

                        <!-- Project -->
                        <div data-scroll class="grid-project">

                            <!-- Project URL --><a href="https://www.instagram.com/p/C_57NciO3lQ/?hl=el&img_index=1">

                                <!-- Project Meta -->
                                <div class="grid-project-meta">


                                </div>
                                <!--/ Project Meta-->

                                <!-- Project Image-->
                                <div class="grid-project-image">
                                    <img src="{% static 'images/gallery/3.jpeg'%}" alt="Grid Project Image">


                                </div>
                                <!--/ Project Image-->
                            </a>

                        </div>
                        <!--/ Project -->

                        <!-- Project -->
                        <div data-scroll class="grid-project">

                            <!-- Project URL --><a href="project-8.html">

                                <!-- Project Meta -->
                                <div class="grid-project-meta">


                                </div>
                                <!--/ Project Meta-->

                                <!-- Project Image-->
                                <div class="grid-project-image">

                                    <img src="{% static 'images/gallery/10.jpeg'%}" alt="Grid Project Image">
                                </div>
                                <!--/ Project Image-->
                            </a>

                        </div>
                        <!--/ Project -->

                        <!-- Project -->
                        <div data-scroll class="grid-project">

                            <!-- Project URL --><a href="https://www.instagram.com/p/C2hdeMustSF/?hl=el&img_index=1">

                                <!-- Project Meta -->
                                <div class="grid-project-meta">
                                </div>
                                <!--/ Project Meta-->

                                <!-- Project Image-->
                                <div class="grid-project-image">
                                    <img src="{% static 'images/gallery/6.jpeg'%}" alt="Grid Project Image">
                                </div>
                                <!--/ Project Image-->
                            </a>

                        </div>
                        <!--/ Project -->

                          <!-- Project -->
                          <div data-scroll class="grid-project">


                                <!-- Project Meta -->
                                <div class="grid-project-meta">
                                </div>
                                <!--/ Project Meta-->

                                <!-- Project Image-->
                                <div class="grid-project-image">
                                    <img src="{% static 'images/gallery/8.jpeg'%}" alt="Grid Project Image">
                                </div>
                                <!--/ Project Image-->
                            </a>

                        </div>
                        <!--/ Project -->

                        <!-- Project -->
                        <div data-scroll class="grid-project">

                            <!-- Project URL --><a href="project-6.html">

                                <!-- Project Meta -->
                                <div class="grid-project-meta">


                                </div>
                                <!--/ Project Meta-->

                                <!-- Project Image-->
                                <div class="grid-project-image">                                   
                                     <img src="{% static 'images/gallery/9.jpeg'%}" alt="Grid Project Image">

                                </div>
                                <!--/ Project Image-->
                            </a>

                        </div>
                        <!--/ Project -->

                         <!-- Project -->
                         <div data-scroll class="grid-project">

                            <!-- Project URL --><a href="project-6.html">

                                <!-- Project Meta -->
                                <div class="grid-project-meta">

                                    <!-- Project Title-->
                                    <div class="grid-project-title"></div>
                                    <!--/ Project Title-->

                                </div>
                                <!--/ Project Meta-->

                                <!-- Project Image-->
                                <div class="grid-project-image">                                   
                                     <img src="{% static 'images/gallery/11.jpeg'%}" alt="Grid Project Image">

                                </div>
                                <!--/ Project Image-->
                            </a>

                        </div>
                        <!--/ Project -->

                         <!-- Project -->
                         <div data-scroll class="grid-project">

                            <!-- Project URL --><a href="project-6.html">


                                <!-- Project Meta -->
                                <div class="grid-project-meta">

                                    <!-- Project Title-->
                                    <div class="grid-project-title"></div>
                                    <!--/ Project Title-->

                                </div>
                                <!--/ Project Meta-->

                                <!-- Project Image-->
                                <div class="grid-project-image">                                   

                                    <img src="{% static 'images/gallery/5.jpeg'%}" alt="Grid Project Image">

                                </div>
                                <!--/ Project Image-->
                            </a>

                        </div>
                        <!--/ Project -->


                    </div>
                    <!--/ Portfolio Grid -->

                </div>
                <!--/ Column -->

            </div>
            <!--/ Wrapper -->

        </div>
        <!--/ Section -->


    </div>
    <!-- Page Content -->

    <!-- Footer -->
    <footer class="site-footer">

        <!-- Fullwidth Wrapper -->
        <div class="wrapper">

            <!-- Column -->
            <div class="c-col-12">
                <h1 class="thin" style="margin: 0">Do you have a project or an idea?
                    <br><a class="underline" href="../light/#">hello@pethemes.com</a>
                </h1>

            </div>
            <!--/ Column -->

        </div>
        <!-- Fullwidth Wrapper -->

        <!-- Fullwidth Wrapper -->
        <div style="margin-bottom: 75px" class="wrapper-full">

            <div class="c-col-6 hide-mobile"></div>

            <!-- Column -->
            <div class="c-col-3 no-gap">
                <div class="caption">Based in </div>
                <h5>Nea Filadelfeia, Athens, Greece</h5>

            </div>
            <!--/ Column -->

            <!-- Column -->
            <div class="c-col-3 no-gap">
                <div class="caption">FOLLOW</div>

                <!-- Footer List -->
                <ul class="footer-list">
                    <li><a href="https://www.instagram.com/hount.ttt/?hl=el" class="underline">Instagram</a></li>
                </ul>
                <!-- Footer List -->
            </div>
            <!--/ Column -->

        </div>
        <!-- Fullwidth Wrapper -->


    </footer>
    <!--/ Footer -->

</div>
<!--/ Site Content -->

{% endblock %}